.top-bar {
    background-color: #000;
    padding: 42px 64px;
    display: flex; justify-content: space-between;
    align-items: center; 
}
.logo-box {
    border: 1px solid red;
}
.logo-box img {
    border: 1px solid orange;
    display: flex;
}
.right-menu {
    border: 1px solid green;
    display: flex; gap: 30px;
}
.menu01 {
    border: 1px solid red;
    color: #fff;
    display: flex;
    align-items: center;
}
.menu01-ul {
    display: flex; gap: 20px;
}
.m01-item {
    border: 1px solid orange;
    font-size: 13px; font-weight: 900;
}
.m01-item > a {
    position: relative;
    padding-bottom: 5px;
}
.m01-item::after {
    /* 가상요소에 공백으로 놓으면 코드입력할 때 헷갈려서 1로 입력하였습니다.*/
    content: "1";
    position: absolute;
    text-decoration: underline;
}

.user-box {
    border: 1px solid red;
    display: flex;
}
.user-box-ul {
    color: #fff;
    display: flex; gap: 20px;
    align-items: center;
}
.user-item {
    border: 1px solid orange;
}
main {
    border: 1px solid #000;
    height: 6620px;
}
.section {
    border: 1px solid #000;
}
footer {
    border: 1px solid #000;
    height: 431px;
}