@keyframes bgChange { /* 애니메이션 */
    from { 
        background-color: transparent; /* 처음엔 투명 */
        padding: 42px 64px; /* 기본 패딩 유지 */
    } 
    to {
        background-color: #000000; /* 나중엔 검정 */
        padding: 14px 64px; /* 스크롤 내리면 상•하 패딩 14px로 줄어듦 */
        /* transition: 0.3s; */
    } 
}
body {background-color: #000;}
strong {font-size: 42px;}
.top-bar {
    padding: 42px 64px;
    display: flex; justify-content: space-between;
    align-items: center;
    position: fixed; /* 상단바 고정 */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100; /* 상단바가 다른 레이어 요소들을 가리지 못하게 맨 앞으로 끌어올림 */
    box-sizing: border-box;

    animation: bgChange linear forwards; /* bgChange 애니메이션을 실행해라 */
    animation-timeline: scroll(); /* 시간 대신 '스크롤'에 맞춰서 움직여라! */
    animation-range: 200px 100px; /* 스크롤을 200px에서 100px 내리는 동안 옷을 갈아입어라 */
}
.logo-box img {
    display: flex;
}

.right-menu {
    display: flex; gap: 30px;
}
.menu01 {
    color: #fff;
    display: flex;
    align-items: center;
}
.menu01-ul {
    display: flex; gap: 20px;
}
.m01-item {
    font-size: 13px; font-weight: 900;
}
.m01-item a {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.m01-item a::after {
    content: '';
    position: absolute;
    left: 0; /* 왼쪽 끝에서 시작 */
    bottom: 0; /* 글자 맨 아래에 붙음 */
    width: 0; /* 처음에는 가로 길이가 0 (안 보임) */
    height: 2px;
    background-color: #fff;
    transition: 0.3s ;
}
.m01-item a:hover::after {
    width: 100%; /* 마우스를 올리면 가로 길이가 100%로 늘어남 */
}

.user-box {
    display: flex;
}
.user-box-ul {
    color: #fff;
    display: flex; gap: 20px;
    align-items: center;
}
.user-item04 {
    position: relative;
}
.user-item04:hover >div {
    display: block;
}
.user-item04 > div {
    border: 1px solid gray;
    background-color: #000;
    color: gray;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 10px;
    margin-top: 10px;
    display: none;
    font-size: 13px;
}

main {
    border: 1px solid purple;
    /* height: 6620px; */
}
.section {
    border: 1px solid rgba(0, 0, 255, 0.8);
}
.section01 {
    object-fit: contain;
}
.section01 >img {
    width: 100%;
    object-fit: cover;
}
.section02 {
    color: #fff;
    padding: 120px 100px;
}
.sec02-item {
    /* border: 1px solid red; */
    padding-bottom: 72px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 50px;
}
.sec02-item-text01 {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
}
.sec02-item-text02 {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 8px;
    font-size: 15px; 
}
.sec02-item-button {
    border: 1px solid #ffffff80;
    color: #fff;
    padding: 20px 30px;
}
.section03 {
    background-color: rgb(131, 12, 0);
    color: #fff;
    text-align: center;
    padding: 120px 0px;
}
.sec03-item {
    gap: 10px;
}
.product {
    display: flex;
    justify-content: space-between;
}
.section04 >div {
    margin-top: 120px; margin-bottom: 180px;
    margin-left: 100px; margin-right: 100px;
    border: 1px solid orange;
    color: #fff;
    text-align: center;
}
.section05 {
    color: #fff;
    text-align: center;
}
/* .sec05-item {
    border: 1px solid orange;
} */

footer {
    border: 1px solid purple;
    height: 431px;
}